{% extends 'layout.html' %} 
{% block title %} 
Spot view| ParkMatrix {%
endblock %}
{% block content %}
<div class="container my-5">
    <h2 class="text-start fs-1 text-primary mb-4 pb-2 border-bottom">
        Spot Details
    </h2>
    <div class="p-3 bg-light rounded shadow-sm border">
        <h3 class="text-start fs-3 bg-warning rounded shadow-lg mb-3 p-2">
            Spot Id : {{spot.id}}
        </h3>

        <div class="row">
            <div class="col-12 col-md-6 mb-3">
                <div class="input-group">
                    <span class="input-group-text text-danger"><i class="fa fa-circle-user"></i></span>
                    <span class="input-group-text w-75">
                        Registered Owner : {{user.name}}
                    </span>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-3">
                <div class="input-group">
                    <span class="input-group-text text-danger"><i class="fa fa-calendar-alt"></i></span>
                    <span class="input-group-text w-75">
                        Book Date: {{spot.entry_timing.strftime('%d %b
                        %Y %I:%M %p')}}
                    </span>
                </div>
            </div>

            <div class="col-12 col-md-6 mb-3">
                <div class="input-group">
                    <span class="input-group-text text-danger"><i class="fa fa-bus"></i></span>
                    <span class="input-group-text w-75">
                        Lot Id : {{lot.id}}
                    </span>
                </div>
            </div>

            <div class="col-12 col-md-6 mb-3">
                <div class="input-group">
                    <span class="input-group-text text-danger"><i class="fa fa-location-dot"></i></span>
                    <span class="input-group-text w-75">
                        Location:{{lot.lot_name}}
                    </span>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-3">
                <div class="input-group">
                    <span class="input-group-text text-danger"><i class="fa fa-address-card"></i></span>
                    <span class="input-group-text w-75">
                        Address: {{lot.city}}
                    </span>
                </div>
            </div>

            <div class="col-12 col-md-6 mb-3">
                <div class="input-group">
                    <span class="input-group-text text-danger"><i class="fa fa-car"></i></span>
                    <span class="input-group-text w-75">
                        Vehicle No. : {{spot.vehicle_number}}
                    </span>
                </div>
            </div>

            <div class="col-12 col-md-6 mb-3">
                <div class="input-group">
                    <span class="input-group-text text-danger"><i class="fa fa-inr"></i></span>
                    <span class="input-group-text w-75">
                        Price/Day : {{lot.price}}
                    </span>
                </div>
            </div>

            <div class="col-6 col-md-6 mb-3 ">
                <a href="{{ url_for('see_lots',sid=lot.id)}}"><button
                        class="btn btn-info w-80">
                        <i class="fa fa-flag p-2"></i> Return to Spots 
                    </button></a>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}