<nav class="navbar navbar-expand-lg m-3 rounded" style="position:sticky; top:0;z-index: 10;background-color: rgba(182, 238, 160, 0.5);">
    <div class="container-fluid">
        <a class="navbar-brand text-danger fs-1 bolder" href="{{ url_for('index' ) }}">ParkMatrix</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            {% if 'user_id' in session %}
                        <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('profile') }}"><button type="button" class="btn btn-outline-success" style="height:50px; width:50px; border-radius: 50%; display: flex; align-items: center; justify-content: center;"><img src="https://api.dicebear.com/9.x/pixel-art/svg?seed={{user.name}} " alt=""></button></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}"><button type="button" class="btn btn-warning m-0">Logout</button></a>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('login')}}"><button type="button" class="btn btn-outline-danger">Log In</button></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('register')}}"><button type="button" class="btn btn-warning">Sign Up</button></a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>
